<h3 id="web-apps">All Web Apps</h3>
<hr class="yellow" />

<div class="small-box">
  <h4>Helping The Homeless</h4>
  <%= link_to image_tag('helping.png'), "http://passion-jay-johnson.herokuapp.com/", class: "full-width" %>
</div>
<div class="small-box">
  <h4>Agile Team Project</h4>
  <%= link_to image_tag('chess.png'), "https://dreamteam-chess.herokuapp.com/", class: "full-width" %>
</div>
<div class="small-box">
  <h4>Snowden Leak Generator</h4>
  <%= link_to image_tag('snowden.png'), "http://snowden-jay-johnson.herokuapp.com/", class: "full-width" %>
</div>
<br class="clear">
<div class="small-box">
  <h4>Yelp Clone</h4>
  <%= link_to image_tag('nomster.png'), "https://yelpers-jay-johnson.herokuapp.com/", class: "full-width" %>
</div>
<div class="small-box">
  <h4>Two-Sided Market Place</h4>
  <%= link_to image_tag('flixter.png'), "https://flixter-jay-johnson.herokuapp.com/", class: "full-width" %>
</div>
<div class="small-box">
  <h4>Test Driven Development</h4>
  <%= link_to image_tag('grammable.png'), "https://grammable-jay-johnson.herokuapp.com/", class: "full-width" %>
</div>
<br class="clear">
<div class="small-box">
  <h4>TODO</h4>
  <%= link_to image_tag('todoster.png'), "https://todo-jay-johnson.herokuapp.com/", class: "full-width" %>
</div>
<div class="small-box">
  <h4>Splurty</h4>
  <%= link_to image_tag('splurty.png'), "https://splurty-jay-johnson.herokuapp.com/", class: "full-width" %>
</div>
<div class="small-box">
  <h4>YelpCamp</h4>
  <%= link_to image_tag('yelpcamp.png'), "https://mighty-brushlands-20223.herokuapp.com/", class: "full-width" %>
</div>
<br class="clear">
<div class="small-box">
  <h4>Global Auto Complete</h4>
  <%= link_to image_tag('GlobalAutoComplete.png'), "https://elastic-jay-johnson.herokuapp.com/", class: "full-width" %>
</div>
<div class="small-box">
  <h4>Data Table</h4>
  <%= link_to image_tag('DB.png'), "https://db-jay-johnson.herokuapp.com/", class: "full-width" %>
</div>
<div class="small-box">
  <h4>Arcade</h4>
  <%= link_to image_tag('arcade.png'), "https://arcade-jay-johnson.herokuapp.com/", class: "full-width" %>
</div>
<br class="clear">
<div class="small-box">
  <h4>Action-Cable 1</h4>
  <%= link_to image_tag('AC1.png'), "https://action-cable-jay-johnson.herokuapp.com/", class: "full-width" %>
</div>
<div class="small-box">
  <h4>Action-Cable 2</h4>
  <%= link_to image_tag('AC2.png'), "https://actioncable2-jay-johnson.herokuapp.com/", class: "full-width" %>
</div>
<div class="small-box">
  <h4>Action-Cable 3</h4>
  <%= link_to image_tag('AC3.png'), "https://action-cable3-jay-johnson.herokuapp.com/", class: "full-width" %>
</div>
<br class="clear">
<div class="small-box">
  <h4>Movie API</h4>
  <%= link_to image_tag('movie.png'), "https://salty-fjord-51758.herokuapp.com/", class: "full-width" %>
</div>
<div class="small-box">
  <h4>Color Game</h4>
  <%= link_to image_tag('color.png'), "https://color-game-jay-johnson.herokuapp.com/", class: "full-width" %>
</div>
<div class="small-box">
  <h4>Node Express Blog</h4>
  <%= link_to image_tag('node.png'), "https://protected-thicket-44010.herokuapp.com/blogs", class: "full-width" %>
</div>
<div class="small-box">
  <h4>Synthesizer</h4>
  <%= link_to image_tag('synthesizer.png'), "https://synthesizer-jay-johnson.herokuapp.com/", class: "full-width" %>
</div>


